################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mi2se_classic_injector/.vs
/mi2se_classic_injector/.vs/mi2se_classic_injector/v17/.suo

/omega_t/1/omegat/project_stats.txt
/omega_t/1/omegat/project_save.tmx.*.bak
/omega_t/1/omegat/last_entry.properties

/omega_t/2/omegat/project_stats.txt
/omega_t/2/omegat/project_save.tmx.*.bak
/omega_t/2/omegat/last_entry.properties

/omega_t/3/omegat/project_stats.txt
/omega_t/3/omegat/project_save.tmx.*.bak
/omega_t/3/omegat/last_entry.properties

/omega_t/4/omegat/project_stats.txt
/omega_t/4/omegat/project_save.tmx.*.bak
/omega_t/4/omegat/last_entry.properties

/omega_t/5/omegat/project_stats.txt
/omega_t/5/omegat/project_save.tmx.*.bak
/omega_t/5/omegat/last_entry.properties

/mi2se_classic_injector/bin
/mi2se_classic_injector/obj
/mi2se_classic_injector/bin/Debug/netcoreapp3.1/config.json
/skrypty/mi2se_classic_injector.exe - Shortcut.lnk
/mi2se_classic_injector/mi2se_classic_injector/bin/Debug/net8.0
/mi2se_classic_injector/mi2se_classic_injector/obj
/mi2se_classic_injector/.vs/mi2se_classic_injector
